@inherits LayoutComponentBase

<div class="page h-full w-full">
    <main class="h-full w-full">
        <article class="content px-4 flex h-full w-full">
            @Body
        </article>
    </main>
</div>